<nav>
  <div class="container">
    <div>
      <h2>
        <a href="/">Navbar</a>
      </h2>
    </div>
    <div>
      <a href="/">Home</a>
      <a href="/about">About</a>
    </div>
  </div>
</nav>
